<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Menu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F83332D1F11845500AB3E22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F8333411F11845500AB3E22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F83334C1F11845500AB3E22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
